name: remove-workflow-runs
on:
  schedule:
    - cron: '0 0 1 * *'
  workflow_dispatch:
    inputs:
      retain_days:
        description: 'Number of days:'
        required: true
        default: 40
      minimum_runs:
        description: 'Minimum runs to keep:'
        required: true
        default: 0

jobs:
  del_runs:
    runs-on: ubuntu-latest
    steps:
      - name: Delete workflow runs
        uses: Mattraks/delete-workflow-runs@main
        with:
          token: ${{ github.token }}
          repository: ${{ github.repository }}
          retain_days: ${{ github.event.inputs.retain_days }}
          keep_minimum_runs: ${{ github.event.inputs.minimum_runs }}
